@font-face {
    font-family: 'munro';
    src: url('../font/Munro.ttf');
}

body {
}

.main-section {
    display: flex;
    flex-direction: row;
}

#interface {
    font-family: munro;
    width:800px;
    height: 800px;

}

#interface h1{
    text-transform: uppercase;
    text-align: center  ;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#score {
    width: 100px;
}

#GameOver{
    position: absolute;
    display: none;
}